PORT=3000
BASE_URL=http://localhost:3000

# Database
DATABASE_URL=postgres://usuario:password@localhost:5432/nombre_db
DB_USER=user_dev
DB_PASSWORD=password_dev
DB_NAME=payment_gateway_db
DB_HOST=localhost

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Service Authentication
WEBHOOK_SECRET=tu_secreto_aqui
SERVICE_API_KEY=tu_api_key_secreta

# CORS
ALLOWED_ORIGINS=http://localhost:3000,https://tudominio.com

# Logging
LOG_LEVEL=info

# PayPal (leave empty to disable)
PAYPAL_CLIENT_ID=AedV7SzCcLXnzh8BkbnG9uMYX7bB19Sl_r_Txwq7kskbL8SUdbj0rCGZ97HUXvAkw3SNyPa2E85VEpRi
PAYPAL_CLIENT_SECRET=EDMrGauofRWCdoyI28DTdx9U9xgqUy5ve4n_yht71_B65rPXjRfE9jOxL0eDORgdH6q7sqwHfKl1rK8F
PAYPAL_WEBHOOK_ID=WH-7Y7254563A4550640-11V2185806837105M
PAYPAL_API_URL=https://api-m.sandbox.paypal.com

# Stripe (leave empty to disable)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=